<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <!-- Enlace para el icono -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="/css/shoppingCart.css">
</head>
<body>
    <header>
        <nav class="nav-carrito">
            <button class="btn-atras">
                <i class="fas fa-arrow-left"></i>
            </button>
            <div class="compra-segura">
                <span class="texto-compra-segura">Compra segura</span>
                <i class="fas fa-lock"></i>
            <img class="foto-perfil" src="imagen-de-perfil.jpg" alt="Foto de perfil">
        </nav>
    </header>
    <main>
        <h1 class="tituloCarrito">
            <i class="fas fa-shopping-cart"></i>
            Carrito de compras
        </h1>
        <div class="itemContainer">
            <div class="buyItem">
                <img src="productImage.png" alt="product" class="productImage">
                <div class="productInfo">
                    <h2 class="porductName">Nombre del producto</h2>
                    <p class="productDescription">                    <p>Descripcion random sobre un producto que te va a mejorar la vida si o si estoy 100% seguro ya no se que mas poner en una description ayuda que tengas lindo dia</p>
                </p>
                </div>
                <div class="productActions">
                    <span class="productPrice">$2900</span>
                    <div class="actionButtons">
                        <form action="/app.js" method="get" class="quantityForm">
                            <label for="quantity" class="quantityLabel">Cantidad</label>
                            <select name="quantity" id="quantity" class="quantitySelector">
                                <option value="1">1 unidad</option>
                                <option value="2">2 unidades</option>
                                <option value="3">3 unidades</option>
                                <option value="4">4 unidades</option>
                                <option value="5">5 unidades</option>
                            </select>
                        </form>
                        <button type="reset" class="removeButton" >Quitar</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
     <div class="shoppingCartTotalItems">

        <input type="checkbox" class="toggleShoppingCart" id="toggleShoppingCart"> <!-- esto se usa como boton invisible del menu-->
        <label for="toggleShoppingCart" class="toggleShoppingCartLabel">Resumen del carrito <i class="fas fa-chevron-up"></i></label>
        <div class="shoppingCartTotalItemsContent">
            <div class="totalContentInfo">
                <p> Cantidad de productos: <span id="product-count">1</span></p>
                <p>Total a pagar: <span id="total-price">$2900</span></p>
            </div>
            <button class="completeOrderbtn">Completar Orden</button>
        </div> 

     </div>
    </footer>
</body>
</html>