<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle Producto</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/ca01c0950a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/detailProduct.css">
</head>
<body>
    <header>
        <div class="head_box">
        <img src="/img/redond quiza.png" alt="logoPage" id="logoPage">
            <div class="search">
                <input type="text" class="search_box" placeholder="Buscar ...">
                <button><i class="fas fa-search"></i></button>
            </div>
            <div class="user">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="cart_shopping">
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </div>

<ul class="navbar">
    <li>MenuBurger</li>
</ul>
    </header>
<main>
    <section>
        <div class="titleArt">
        <h1 >Borcego Mujer Maquina de guerra</h1>
        </div>
        <div class="pictureArt">
             <div class="plusPictures">
                <img src="/img/detailProduct/borcego2.png">
                <img src="/img/detailProduct/borcego3 (1).png">
                <img src="/img/detailProduct/borcego3 (2).png">
                <img src="/img/detailProduct/borcego3 (3).png">

             </div>
            <div class="pictureMajor">
                <img src="/img/detailProduct/borcego1.png">
            </div>
        </div>
    </section>
</main>
</body>
</html>