<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/03e63e3d58.js" crossorigin="anonymous"></script>
    <title>home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home/styles.css">
</head>

<body>
    <header>
        <nav class="navMob">
            <i class="fa-solid fa-bars"></i>
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="¿Que buscas?" class="inputNav">
            <img src="/img/logoinfiori.png" alt="" class="logoInfioriNav">
            <a href="/register" class="logoUser"><i class="fa-solid fa-user"></i></a>
            <a href="/shoppingCart" class="logoCart"><i class="fa-solid fa-cart-shopping"></i></a>
        </nav>

        <nav class="navDesk">
            <img src="/img/logoinfiori.png" alt="">
            <div class="divUl">
                <ul>
                    <li><a href="">Calzado</a></li>
                    <li><a href="">Indumentaria</a></li>
                    <li><a href="">Fiesta</a></li>
                    <li><a href="">Accesorios</a></li>
                </ul>
            </div>
            <div class="inputNavDesk">
                <input type="text" placeholder="¿Que buscas?">
                <div class="iconsDesk">
                    <a href="/register" class="logoUser"><i class="fa-solid fa-user"></i></a>
                    <a href="/shoppingCart" class="logoCart"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </div>
        </nav>
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/img/carousel/image1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/img/carousel/image2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="/img/carousel/image3.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </header>

    <main>
        <section>
            <article>
                <img src="/img/image7.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Chaleco Quimia</h5>
                    <p class="card-text">En eco-cuero forrado con corderito, de tipo pesado.</p>
                    <a href="#">Ir a...</a>
                </div>
            </article>

            <article>
                <img src="/img/image22.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Campera Rougue</h5>
                    <p class="card-text">En jean, corte oversize.</p>
                    <a href="#">Ir a...</a>
                </div>
            </article>

            <article>
                <img src="/img/image8.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Campera The Grinch</h5>
                    <p class="card-text">Puffer, impermeable con plumas de ganzo.</p>
                    <a href="#">Ir a...</a>
                </div>
            </article>

            <article>
                <img src="/img/image15.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Campera Moura</h5>
                    <p class="card-text">En eco-cuero forrada.</p>
                    <a href="#">Ir a...</a>
                </div>
            </article>

            <article>
                <img src="/img/image20.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Conjunto spice</h5>
                    <p class="card-text">En morley frizado</p>
                    <a href="#">Ir a...</a>
                </div>
            </article>

            <article>
                <img src="/img/image21.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Vestido azeb</h5>
                    <p class="card-text">En lycra y algodon, super comodo.</p>
                    <a href="#">Ir a...</a>
                </div>
            </article>

            <article>
                <img src="/img/image11.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Puffer Blacky</h5>
                    <p class="card-text">Chaleco Puffer super abrigado</p>
                    <a href="#">Ir a...</a>
                </div>
            </article>

            <article>
                <img src="/img/image14.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Buzo tejigo</h5>
                    <p class="card-text">Tejido estampado</p>
                    <a href="#">Ir a...</a>
                </div>
            </article>


        </section>
    </main>

    <footer>
        <div class="footerNews">
            <p> NEWSLETTER</p>
            <P>No te pierdas ninguna novedad.</P>
            <form action="">
                <label for="">
                    <input type="email" placeholder="ingresar tu email" class="placeFooter">
                </label>
            </form>
        </div>
        <div class="divFooter">
            <img src="/img/logoinfiori.png" alt="" width="200px" class="logoFooter">
        </div>
        <div class="footerContact">
                <p>Contact us</p>
            <div class="iconsFooter">
                <a href="">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
            </div>
        </div>

    </footer>


</body>

</html>