<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/public/css/login.css" />
</head>

<body>
  <div class="container">
    <img class="logo" src="/public/img/logoinfiori.png" alt="Logo" >
  <form action="resultado.html" method="POST">
    <p class="nombre">
      <!-- campo para el nombre -->
      <label for="nombre"></label>
      <input type="text" placeholder="Usuario" id="nombre" name="nombre" required>
    </p>
    <p>
      <!-- campo para la contraseña -->
      <label for="password"></label>
      <input type="password" placeholder="Contraseña" id="password" name="password" required>
    </p>
    <button type="submit">Iniciar Sesion</button>
    <button type="submit">Registrarse</button>
    
  </form>
</div>
</body>
</html>