<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/03e63e3d58.js" crossorigin="anonymous"></script>
    <title>login</title>
</head>
<body>
    <%- include("partials/header") %>

    <main>
        <form action="/user/login" method="POST">
            <h2>Iniciar Sesión</h2>
            
            <img src="/img/logoinfiori.png" alt="Logo Infiori">
    
            <label for="userName" class="inp">
                <input type="text" id="userName" name="userName" placeholder="Nombre de Usuario" required>
            </label>
    
            <label for="password" class="inp">
                <input type="password" id="password" name="password" placeholder="Contraseña" required>
            </label>
    
            <div class="butt">
                <button type="submit">Ingresar</button>
                <a href="/user/register"><button type="button">Registrarse</button></a>
            </div>
        </form>
    </main>

    <%- include ("/partials/footer") %>
</body>
</html>