<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/registro.css">
    <link rel="stylesheet" href="/css/stylesFooter.css">
    <link rel="stylesheet" href="/css/stylesHeader.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/03e63e3d58.js" crossorigin="anonymous"></script>
    <title>REGISTRATE</title>
</head>
<body>
<%- include("partials/header") %>

    <main>
        <form action="">
            <h2>Registrarse</h2>
            
            <img src="/img/logoinfiori.png" alt="">

            <label for=""  class="inp">
                <input type="email" name="" id="" placeholder="Ingrese E-mail.">
            </label>

            <label for=""  class="inp">
                <input type="text" name="" id="" placeholder="Ingrese nombre y apellido.">
            </label>

            <label for=""  class="inp">
                <input type="password" name="" id="" placeholder="Ingrese una contraseña.">
            </label>

            <label for=""  class="inp">
                <input type="password" name="" id="" placeholder="Repita contraseña.">
            </label>

            <label for="" class="butt">
                <button type="submit">Enviar</button>
            </label>
        </form>
    </main>

    <%- include("partials/footer") %>
</body>
</html>