<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/registro.css">
    <link rel="stylesheet" href="/css/stylesFooter.css">
    <link rel="stylesheet" href="/css/stylesHeader.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/03e63e3d58.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
    <title>REGISTRATE</title>
</head>
<body>
<%- include("partials/header") %>

    <main>
        <form action="/user/register" method="post">
            <h2>Registrarse</h2>
            
            <img src="/img/logoinfiori.png" alt="">

            <label for="userName"  class="inp">
                <input type="text" name="userName" id="" placeholder="Ingrese su Nombre de Usuario.">
            </label>

            <label for="name"  class="inp">
                <input type="text" name="name" id="name" placeholder="Ingrese nombre y apellido.">
            </label>

            <label for="password"  class="inp">
                <input type="password" name="password" id="password" placeholder="Ingrese una contraseña.">
            </label>

            <label for="repassword"  class="inp">
                <input type="password" name="repassword" id="repassword" placeholder="Repita contraseña.">
            </label>
            

            <label for="image" class="inp">Imagen de Perfil:</label>
                <input type="file" name="image" accept="image/*" required><br>

            <label for="" class="butt">
                <button type="submit">Enviar</button>
            </label>
        </form>
    </main>

    <%- include("partials/footer") %>
</body>
</html>