*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
}

@media (min-width: 577px){
    nav{
        justify-content: space-around;
    }
    .logoInfioriNav{
        width: 200px;
    }
    .fa-magnifying-glass{
        display: none;
    }
    img.logoFooter{
        width: 200px;
    }
    .divFooter{
        width: 200px;
    }
    section article{
        width: 300px;
        flex-wrap: wrap;
    }
    main section {
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }
    .inputNav{
        display: block;
    }
    section article{
        width: 40%;
    }
    footer .divFooter{
        top: -2.5rem;
        right: 37%;
    }
}

@media (min-width: 993px){
    section article {
        width: 20%;
    }
    .navDesk{
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 1rem;
        padding-right: 1rem;
    }
    .navDesk img {
        width: 250px;
    }
    .navMob{
        display: none;
    }
    .divUl {
        width: 50%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end;
        position: relative;
        top: 3rem;
        right: 3rem
    }
    .divUl ul{
        list-style-type: none;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .navDesk a{
        text-decoration: none;
        color: #b9b7b7;
        cursor: pointer;
    }
    .navDesk a:hover {
        color: #DDADB9;
        transition: 500ms;
    }

    .inputNavDesk {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        row-gap: 2rem;
        
    }
    .inputNavDesk input {
        text-align: center;
        background-color: #DDADB9;
        height: 2rem;
        border: 0cap;
        border-radius: 10px;
    }
    .iconsDesk {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    footer .divFooter{
        top: -2.5rem;
        right: 42%;
    }
}

