header{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: #DDADB9;
}
nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
    background-color: #FFFDFD;
}

.logoInfioriNav{
    width: 100px;
    margin: 0 0;
}

.inputNav{
    background-color: #DDADB9;
    border-radius: 10px;
    width: 8rem;
    text-align: center;
    border: 0cap;
    margin-left: 1rem;
    display: none;
}

.inputNav::placeholder{
    color: #A76A6A;
}

.logoUser{
    color: #DDADB9;
}
.logoCart{
    color: #DDADB9;
}

.fa-solid{
    color: #DDADB9;
}

#carouselExample{
    width: 50vw;

}
.navDesk{
    display: none;
}

