<article>
    <img src="/img/detailProduct/reloj.jpeg" alt="Reloj" class="product_img" />
    <div class="main-article">
        <div class="truck">
            <i class="fa-solid fa-truck"></i>
        </div>
        <div class="priceProduct">
            <p class="price">$6.700</p>
            <p class="discount">40% OFF</p>
        </div>
        <h4 class="description">Reloj Mujer Cassio</h4>
    </div>
</article>
<article>
    <img src="/img/detailProduct/cartera.jpeg" alt="cartera" class="product_img" />
    <div class="main-article">
        <div class="truck">
            <i class="fa-solid fa-truck"></i>
        </div>
        <div class="priceProduct">
            <p class="price">$230.000</p>
            <p class="discount">20% OFF</p>
        </div>
        <h4 class="description">Cartera de cuero</h4>
    </div>
</article>
<article>
    <img src="/img/detailProduct/sueter.jpeg" alt="sueter" class="product_img" />
    <div class="main-article">
        <div class="truck">
            <i class="fa-solid fa-truck"></i>
        </div>
        <div class="priceProduct">
            <p class="price">$70.500</p>
            <p class="discount">10% OFF</p>
        </div>
        <h4 class="description">Sueter de lana</h4>
    </div>
</article>
<article>
    <img src="/img/detailProduct/pantalon.jpeg" alt="Pantalon" class="product_img" />
    <div class="main-article">
        <div class="truck">
            <i class="fa-solid fa-truck"></i>
        </div>
        <div class="priceProduct">
            <p class="price">$23.200</p>
            <p class="discount">5% OFF</p>
        </div>
        <h4 class="description">Pantalon Jean ancho</h4>
    </div>
</article>