<main>
    <section>
        <% articles.forEach(item => {%>
            <article>
                <img src=<%= item.imagen %> alt="">
                <div class="card-body">
                    <h5 class="card-title"><%= item.titulo %></h5>
                    <p class="card-text"><%= item.descripcion %></p>
                    <a href="/product/detail">Ir a...</a>
                </div>
            </article>
        <%}); %>
    </section>
</main>