<footer>
    <div class="footerNews">
        <p> NEWSLETTER</p>
        <P>No te pierdas ninguna novedad.</P>
        <form action="">
            <label for="">
                <input type="email" placeholder="ingresar tu email" class="placeFooter">
            </label>
        </form>
    </div>
    <div class="divFooter">
        <img src="/img/logoinfiori.png" alt="" width="200px" class="logoFooter">
    </div>
    <div class="footerContact">
            <p>Contact us</p>
        <div class="iconsFooter">
            <a href="">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="">
                <i class="fa-brands fa-whatsapp"></i>
            </a>
        </div>
    </div>

</footer>