<header>
    <nav class="navMob">
        <i class="fa-solid fa-bars"></i>
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="¿Que buscas?" class="inputNav">
        <img src="/img/logoinfiori.png" alt="" class="logoInfioriNav">
        <a href="" class="logoUser"><i class="fa-solid fa-user"></i></a>
        <a href="" class="logoCart"><i class="fa-solid fa-cart-shopping"></i></a>
    </nav>

    <nav class="navDesk">
        <img src="/img/logoinfiori.png" alt="">
        <div class="divUl">
            <ul>
                <li><a href="">Calzado</a></li>
                <li><a href="">Indumentaria</a></li>
                <li><a href="">Fiesta</a></li>
                <li><a href="">Accesorios</a></li>
            </ul>
        </div>
        <div class="inputNavDesk">
            <input type="text" placeholder="¿Que buscas?">
            <div class="iconsDesk">
                <a href="/user/login" class="logoUser"><i class="fa-solid fa-user"></i></a>
                <a href="/product/carrito-compra" class="logoCart"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
    </nav>

</header>