body{
    width: 100%;
}


header{
    background-color: #DDADB9;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    flex-direction: column;
  
}

.head_box{
    display: flex;
    
    flex-direction: row;
    gap: 0.5rem;
    align-items: baseline;
}

img#logoPage{
    width: 30%;
}

.search{
    width: 70%;
    display: flex;
    flex-direction: row;
}

div .user{
    margin-left: 5px;
}

main section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   
}

.titleArt{
    width: 100%;
}

main section .pictureArt{
    display: flex;
    width: 100%;

}

section .plusPictures{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid black;
    width: 25%;

}
.plusPictures img{
    width: 100%;
}

section .pictureMajor{
    width: 15px;
}

@media (min-width: 320px){
    body{
        width: 100%;
    }
    header{
       display: flex;
       flex-wrap: wrap;
    
    }

    .head_box{
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: baseline;
    }


}


@media (min-width: 768px){
    body{
        width: 100%;
    }
    header{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    
    }

    img#logoPage{
        width: 30%;
    }

}