* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*--------------------------MAIN-------------------------------*/
main {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #d9d9d9;
}

form h2 {
    width: 30%;
}

form {
    width: 50%;
    border-radius: 40px;
    margin-bottom: 4rem;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    padding-top: 1rem;
}

form img {
    width: 40%;
    margin: 1rem 0;
}

.inp {
    margin: 0.6rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inp input {
    width: 50%;
    height: 2rem;
    text-align: center;
    border: none;
    border-radius: 10px;
    background-color: #b9b7b7;
    color: black;
}

input::placeholder {
    color: black;
}

.butt {
    width: 100%;
    margin: 1.5rem 0;
}

.butt button {
    width: 15%;
    background-color: #b9b7b7;
    padding: 5px;
    border: none;
    border-radius: 10px;
}

button:hover {
    background-color: #ddadb9;
    cursor: pointer;
    color: white;
    transition: 300ms;
}

/* Estilos para los mensajes de error */
.just-validate-error {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
}
