*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/*--------------------------MAIN-------------------------------*/
main {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #d9d9d9;
}
form h2 {
    width: 30%;
    display: block;
    width: 30%;
}
form {
    width: 50%;
    border-radius: 40px;
    margin-bottom: 4rem ;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    padding-top: 1rem;
}
form img{
    width: 40%;
    margin: 1rem 0;
}

.inp {
    margin: 0.6rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center ;
}
.inp input{
    width: 30%;
    height: 1rem;
    text-align: center;
    height: 2rem;
    border: 0cap;
    border-radius: 10px;
    background-color: #b9b7b7;
    color: black;
}
input::placeholder {
    color: black
}

.butt {
    width: 100%;
    margin: 1.5rem 0;
}

.butt button {
    width: 15%;
    background-color: #b9b7b7;
    padding: 5px;
    border: 0cap;
    border-radius: 10px;
}

button:hover {
    background-color: #ddadb9;
    cursor: pointer;
    color: white;
    transition: 300ms;
}

